<!DOCTYPE html>
<html>
<head>
  <title>Gostore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">	
		<div class="page-header">
		  <h1>Go Store <small>Get Anything you need about GO</small></h1>
		</div>
		<nav class="navbar navbar-default" role="navigation">
	    <ul class="nav navbar-nav">
	      <li class="active"><%= link_to 'Home', root_path, :class => 'hello' %></li>
				<li><%= link_to "About Us", about_us_path %></li>
	      <li><%= link_to 'Go Game Sets', store_category_path(:category => 'Set') %></li>
	      <li><%= link_to 'Go Boards', store_category_path(:category => 'Board') %></li>
	      <li><%= link_to 'Go Stones', store_category_path(:category => 'Stone') %></li>
	      <li><%= link_to 'Go Bowls', store_category_path(:category => 'Bowl') %></li>
	      <li><%= link_to "Contanct Us", contact_us_path %></li>
	    </ul>
	  </nav>
	  <div class="row">
	  	<aside id="side" class="col-md-2">
		<%= render 'store/search' %>
		  <div id="cart">
        <%= render(@cart) %>
      </div>	  	
	  	</aside>
			<div class="col-md-10">
			<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
